.my-nav {
    background-color: #2e3e51;
}

.my-green-back {
    background-color: #1dbb9d;
    color: white;
}

.form-controll::placeholder {
    color: #333333;
}

#my-send {
    background-color: #1dbb9d;
    border: 1px solid #1dbb9d;
}

#my-footer {
    background-color: #3a546d;
}

#my-link {
    color: #1dbb9d;
}

.my-footer-col {
    height: 40px;
    width: 40px;
}

#my-copyright-footer {
    background-color: #2c3e50;
}